* {
    box-sizing: border-box;
}

body {    
    display: flex;
    flex-direction: column;
    background-color: #FFFDF0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    max-height: 100vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFF2C2;
}

.header {
    font-family: 'Playwrite AU SA', 'Opensans', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

span.header-emoji {
    font-size: 2em;
}

.content-container {

}

@media (max-width: 700px){
    .header {
        font-size: 25px;
    }
}

@media (max-width: 500px){
    .header {
        font-size: 18px;
    }
}