* {
    box-sizing: border-box;
}

body {    
    display: flex;
    flex-direction: column;
    background-color: #FFFDF0;
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    max-height: 300vh;
    padding-bottom: 32px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFF2C2;
}

.header {
    font-family: 'Playwrite AU SA', 'Opensans', sans-serif;
    justify-self: center;
    align-self: center;
    font-size: 46px;
    margin: 0;
    padding: 0;
}

.headerImage-container {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.imageColumn {
    max-width: 30%;
} 

.headerimg1, .headerimg2, .headerimg3, .headerimg4{
    vertical-align: middle; 
    width: 100%;
}

.headerimg1{
    border-left: 5px solid white;
    border-top: 5px solid white ;
    border-top-left-radius: 30px;
}

.headerimg2{
    border-left: 5px solid white;
    border-bottom: 5px solid white ;
    border-bottom-left-radius: 30px;
}

.headerimg3{
    border-right: 5px solid white;
    border-top: 5px solid white ;
    border-top-right-radius: 30px;
}

.headerimg4{
    border-right: 5px solid white;
    border-bottom: 5px solid white ;
    border-bottom-right-radius: 30px;
}

span.header-emoji {
    font-size: 2em;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    background-color: #FFEB00;
    border-radius: 20px;
}

.content-text {
    font-family: "Montserrat";
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.interactive-cake{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.interactive-subtext{
    font-family: 'Playwrite AU SA', 'Opensans', sans-serif;;
    font-size: 28px;
    font-weight: 800;
}

#cakeImage {
    width: 30%;

}

.subcontent-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 16px;
    background-color: #F6C794;
    border-radius: 20px;
}

.subcontent-text{
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 800;
}

.subcontent-img{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin: 8px;
}

.subcontent-column{
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.subcontent-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
}

.myMessage {
    display: flex;
    background-color: #E5D0AC;
    padding: 16px;
    border-radius: 20px;
    font-weight: 700;
}

.message-text {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    .subcontent-column {
      flex: 100%;
      max-width: 100%;
    }
  }

@media (max-width: 700px){
    .header, .content-text {
        font-size: 25px;
    }
}

@media (max-width: 500px){
    .header, .message-text, .subcontent-text{
        font-size: 18px;
    }
}


@media (max-width: 380px){
    .header {
        font-size: 14px;
    }
}